@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol {
  text-decoration: noen;
}
a {
  color: transparent;
}
li {
  text-decoration: none;
  list-style: none;
}
.container {
<<<<<<< HEAD
  width: 1280px;
=======
  width: 1440px;
  padding: 20px;
>>>>>>> b6c16ff3d39fcdad6c52886439ac932cece6bb73
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
